<html>
    <head>
        <title>Daisy's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Daisy's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">The beginning!</a></h2>
            <p>Welcome to my blog! Here I will give you a weekly update :)</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Follow-up</a></h2>
            <p>Click here for the first post</p>
        </div>
    </body>
</html>
